__pycache__/
venv/
.env
*.pyc

# Ignore all markdown files
*.md

# Except README.md
!README.md

# transaction pdf
transaction_PDF/*
!transaction_PDF/processed_PDF
transaction_PDF/processed_PDF/*
!transaction_PDF/processed_PDF/.gitkeep

# target csv
transaction_CSV/*
!transaction_CSV/processed_CSV
transaction_CSV/processed_CSV/*
!transaction_CSV/processed_CSV/.gitkeep

# environment notes
envNotes.txt
test